$jump-nav-width: 240px;

.jump-to-wrap {

	@include media-breakpoint-up(lg) {
		@include clearfix;

		// 레이아웃
		.jump-to-nav {
			float: right;
			width: $jump-nav-width;
		}

		.jump-to-contents {
			float: left;
			width: calc(100% - #{$jump-nav-width + 30px});

			&.box {
				border: 1px solid #e6e6e6;
				padding: 30px;
			}
		}

		.jump-to-list {
			border: 1px solid #e6e6e6;
			background-color: #fff;
			padding: 17px 11px;
			line-height: 1.5;

			li {
				+li {
					margin-top: 7px;
				}

				a {
					display: block;
					padding: 7px 20px;
					border-radius: 2px;
				}

				&.on {
					a {
						background-color: $primary;
						color: #fff;
					}
				}
			}
		}
	}
}

.jump-to-nav {
	.btn-dropdown {
		display: none;
		background: $primary;
		color: #fff;
		border: 0;
		font-size: 17px;

		&:after {
			transform: rotate(180deg);
			background-image: url(#{$url-img-share}/common/ico-chevron-down-white@2x.png);
		}
	}

	&.fixed {
		position: fixed;
		top: 0;
	}

	@include media-breakpoint-up(lg) {

		&.fixed {
			top: 10px;
			left: 50%;
			margin-left: $max-width * 0.5 - $jump-nav-width;
		}
	}

	@include media-breakpoint-down(md) {
		position: relative;
		color: #fff;
		background-color: $primary;
		margin-bottom: 40px;
		height: 40px;
		overflow: visible;

		.jump-to-list {
			background-color: $primary;

			a {
				display: block;
			}

			li {
				display: none;
			}
		}

		&.fixed {
			left: $mobile-spacing;
			right: $mobile-spacing;
			z-index: 100;
		}

		&:not(.opened) {
			.jump-to-list {
				li {
					&.on {
						display: block;
						position: relative;
						border-color: #dadada !important;
						background: $primary;
						color: #fff;
						height: 40px;
						padding: 8px 32px 8px 10px;
						line-height: 22px;

						a {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						&:after {
							content: '';
							position: absolute;
							top: 50%;
							right: 12px;
							margin-top: -4.5px;
							width: 17px;
							height: 9px;
							background: url(#{$url-img-share}/common/ico-chevron-down-white@2x.png) no-repeat;
							background-size: cover;
						}
					}
				}
			}
		}

		&.opened {
			z-index: 100;

			.btn-dropdown {
				display: block;
			}

			.jump-to-list {
				border-top: 1px solid rgba(#fff, 0.5);
				padding: 10px;
				max-height: 200px;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;

				li {
					display: block;

					+li {
						margin-top: 4px;
					}

					&.on {
						color: $bg-lightyellow;
					}
				}
			}
		}

		&.fixed {
			+.jump-to-contents {
				padding-top: 90px;
			}
		}
	}
}