#content {
	@include media-breakpoint-up(lg) {
		min-height: calc(100vh - #{$header-height + $footer-height + $breadcrumb-height});
		background: url(#{$url-img-sitetype}/bg-pattern.png) no-repeat center top;

		&.main-content {
			@include media-breakpoint-up(lg) {
				background: none;
			}
		}
	}

	@include media-breakpoint-down(md) {
		min-height: calc(100vh - #{$mobile-header-height + $mobile-footer-height});
	}
}

.content-header {
	text-align: center;
	font-family: $font-family-title;

	@include media-breakpoint-up(lg) {
		margin: 0 0 65px;
		padding-top: 73px;

		.content-title {
			font-weight: normal;
			font-size: 44px;
			line-height: 52px;
		}
	}

	@include media-breakpoint-down(md) {
		margin: 0 0 39.5px;
		padding-top: 36px;

		.content-title {
			font-size: 24px;
			line-height: 29px;
		}
	}
}

.content-body {
	@include media-breakpoint-up(lg) {
		padding-bottom: 95px;
	}

	@include media-breakpoint-down(md) {
		padding: 0 $mobile-spacing 50px;
	}
}