#breadcrumb {
	position: relative;
	z-index: 20;
	height: $breadcrumb-height;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;

	.container {
		display: flex;
		justify-content: space-between;
	}

	.breadcrumb-list {
		flex: 1 1 auto;

		>li {
			position: relative;
			float: left;

			&:after {
				position: absolute;
				right: -1px;
				top: 50%;
				width: 1px;
				background: #fff;
				content: '';

				@if ($sitetype==yonsei or $sitetype==yuhs) {
					opacity: .3;
					margin-top: -4px;
					height: 8px;
				}

				@else {
					opacity: .2;
					margin-top: -7px;
					height: 15px;
				}
			}

			&:first-child {

				>a {
					padding-right: 15px;
					display: flex;
					align-items: center;
					height: $breadcrumb-height;
				}
			}

			&:last-child {
				>a {
					font-weight: bold;
				}
			}

			&:nth-child(n+2) {

				@if ($lang==ko) {
					width: 280px;
				}

				@else {
					width: 373px;
				}

				>a {
					display: block;
					padding: 3px 45px 1px 20px;
					font-size: 17px;
					@include text-ellipsis(1, $breadcrumb-height - 4px);
					max-height: $breadcrumb-height;

					&:after {
						position: absolute;
						right: 15px;
						top: 50%;
						margin-top: -3px;
						height: 6px;
						background-repeat: no-repeat;

						@if ($sitetype==yonsei or $sitetype==yuhs) {
							width: 10px;
							background-image: url(#{$url-img-share}/common/ico-chevron-down-xs-bold-white.png);
						}

						@else {
							width: 12px;
							background-image: url(#{$url-img-share}/common/ico-chevron-down-xs-white.png);
						}

						background-size: cover;
						content: '';
					}
				}

				&.on {
					>a {
						&:after {
							transform: rotate(180deg);
						}
					}

					.custom-scroll {
						display: block;
					}
				}
			}

			.custom-scroll {
				max-height: 500px;
				display: none;
				position: absolute;
				z-index: 10;
				left: 0;
				right: 0;
				background-color: #fff;
				margin-top: -1px;

				.mCSB_inside>.mCSB_container {
					margin-right: 0;
				}

				.mCSB_scrollTools {
					margin: 9px 3px;
				}

				ul {
					a {
						display: block;
						color: $default;
						position: relative;
					}
				}

				// 대학군
				@if ($sitetype==yonsei or $sitetype==yuhs) {

					border-bottom: 1px solid #e6e6e6;

					ul {
						padding: 9px 0;
						border-left: 1px solid #e6e6e6;
						border-right: 1px solid #e6e6e6;
						font-size: 15px;
					}

					a {
						color: #666;
					}

					li {
						+li {
							margin-top: 1px;
						}

						a {
							padding: 0 19px;
							margin-right: -1px;

							&:hover,
							&:focus {
								color: $primary;
								border-right: 2px solid $primary;
							}
						}
					}
				}

				@else {
					border-bottom: 1px solid $breadcrumb-left-color;

					ul {
						border-left: 1px solid $breadcrumb-left-color;
						border-right: 1px solid $breadcrumb-left-color;
						padding: 15px 19px;
						font-size: 16px;
					}

					li {
						a {
							line-height: 22px;
							padding: 3px 0;

							&:hover,
							&:focus {
								color: $breadcrumb-left-color;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

	.util-menu {
		flex: 0 0 auto;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 123px;
		height: 45px;

		* {
			position: relative;
		}

		.btn {
			+.btn {
				margin-left: 12px;
			}
		}
	}

	&:not(.light):not(.lightgray) {
		color: #fff;
		background-color: $breadcrumb-left-color;

		.util-menu {
			background-color: $breadcrumb-right-color;

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				bottom: -1px;
				left: 0;
				width: 1000px;
				background-color: $breadcrumb-right-color;
			}
		}
	}

	&.light,
	&.lightgray {
		color: $default;
		border-color: #e5e5e5;
		background-color: #fff;

		.breadcrumb-list {
			>li {

				&:after {
					background-color: #dedede;
					opacity: 1;
				}

				&:nth-child(n+2) {
					>a {
						&:after {
							background-image: url(#{$url-img-share}/common/ico-chevron-down-xs-gray.png);
						}
					}
				}

				ul {
					border-color: #e6e6e6;
				}
			}
		}
	}

	&.lightgray {
		border-top: 1px solid $primary;
		border-bottom-color: #e5e5e5;
		background-color: $bg-lightgray;

		.breadcrumb-list {
			>li {
				&:nth-child(n+2) {
					@if ($lang==ko) {
						width: 260px;
					}

					@else {
						width: 346px;
					}

					>a {
						&:after {
							width: 10px;
							height: 6px;
							background-image: url(#{$url-img-share}/common/ico-chevron-down-xs-bold-gray.png);
						}
					}
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		display: none;
	}
}