/* 상단 안내 박스 */
.box-guide {
	position: relative;
	border: 1px solid #e6e6e6;

	&:before {
		content: '';
		position: absolute;
		top: -4px;
		width: 41px;
		height: 7px;
		background: url(#{$url-img-share}/common/box-guide-decoration@2x.png) no-repeat;
		background-size: cover;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 60px;
		padding: 20px 30px;

		&:before {
			left: 30px;
		}

		+.title1 {
			margin-top: -7px;
		}
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 40px;

		@if ($lang==ko) {
			padding: 8px $mobile-spacing 4px;
		}

		@else {
			padding: 10px $mobile-spacing 6px;
		}

		&:before {
			left: $mobile-spacing;
		}

		+.title1 {
			margin-top: -4px;
		}
	}
}

/* 컨텐츠 상단 안내 박스 */
.box-top-guide {
	position: relative;
	text-align: center;
	border: 10px solid #f9f9f9;

	&:before {
		position: absolute;
		content: '';
		top: -10px;
		left: calc(50% - 20px);
		width: 40px;
		height: 10px;
		background:url(#{$url-img-share}/common/box-guide-decoration2@2x.png) no-repeat;
		background-size: cover;
	}

	@include media-breakpoint-up(lg) {
		padding: 35px 40px 34px;
		margin-bottom: 60px;

		.text-lg {
			margin: -2px auto -3px;
		}
	}

	@include media-breakpoint-down(md) {
		padding: 8px 25px 10px;
		margin-bottom: 40px;

		.text-lg {
			margin: 6px auto 7px;
		}
	}
}

/* 컨텐츠 안내 박스 */
.box-tip {
	border: 1px solid #e6e6e6;

	&:before {
		left: 30px;
	}

	.dot {
		position: relative;
		padding-left: 12px;

		&:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 4px;
			top: 10px;
			left: 0;
			background-color: $primary;
		}

		&.dot-gray {
			&:before {
				background-color: #999;
			}
		}

		@include media-breakpoint-down(md) {
			padding-left: 9px;

			&:before {
				top: 8px;
			}
		}
	}

	.list {
		margin: 5px 0;
	}

	&.doc-box {
		.doc-title {
			font-weight: bold;
			font-family: $font-family-title;
			font-size: 18px;
			padding-bottom: 5px;

			i {
				margin-top: -3px;
			}
		}

		dd {
			padding-top: 2px;

			.list {
				margin-top: 3px;
			}
		}

		.data-list {
			@include clearfix;

			li {
				float: left;
				position: relative;
				padding-right: 20px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 7px;
					right: 10px;
					width: 1px;
					height: 12px;
					background-color: #e9e9e9;
				}

				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}

		@if ($lang !=ko) {
			padding: 30px 30px 20px !important;

			dt.doc-title {
				font-size: 14px;
			}
		}

	}

	&.box-lightgray {
		background-color: $bg-lightgray;
		border: none;
	}

	@include media-breakpoint-up(lg) {
		padding: 26px 30px 20px;

		.list {
			margin-top: 4px;
			margin-bottom: 3px;
		}

		&.doc-box {
			padding: 24px 30px 20px;
		}

		&.box-lightgray {
			padding: 11px 30px;
		}
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 20px;
		padding: 5px 15px 6px;

		.dot {
			&:before {
				top: 10px;
			}
		}

		.list {
			margin: 8px 0;
		}

		&:before {
			left: $mobile-spacing;
		}

		&.doc-box {
			padding: 11px 15px 10px;

			.doc-title {
				font-family: $font-family-mobile;
			}

			.list {
				margin-bottom: 4px;
			}
		}

		&.box-lightgray {
			padding: 2px 15px 3px;

			&.download {
				padding: 5px 15px 7px;
			}

			.list1-gray {
				>li {
					&:before {
						top: 10px;
					}
				}
			}
		}
	}
}

/* 박스 리스트 */
.box-list-wrap {
	.box-list {
		margin: -15px;
		display: flex;
		flex-wrap: wrap;

		>li {
			width: calc(33.333% - 30px);
			flex: 0 0 calc(33.333% - 30px);
			margin: 15px;
			border: 1px solid $bg-gray;

			.list-item {
				padding: 30px 30px 19px;
				width: 100%;

				.item-image {
					width: 100%;
					height: 230px;
					margin-bottom: 30px;
					line-height: 0;
					box-sizing: border-box;
					border: 1px solid #e6e6e6;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.list-item-title {
					display: block;
					text-align: left;

					strong {
						font-family: $font-family-title;

						&.title3 {
							margin-bottom: 0;
							font-size: 24px;
						}

						&.text-mld {
							font-size: 18px;
							line-height: 30px;
						}
					}

					span {
						font-size: 16px;
					}

					.list-item-subtitle {
						font-weight: bold;
						font-size: 16px;
					}

					.btn-area {
						margin-top: -8px;
					}
				}

				.list-item-content {
					margin-top: 20px;

					p:only-child {
						margin-bottom: 6px;
					}
				}

				@if ($lang !=ko) {
					padding-bottom: 21px;

					.item-image {
						margin-bottom: 27px;
					}

					.list-item-title {
						font-family: $font-family-title;

						.title3 {
							font-family: inherit;
							line-height: 30px;
						}
					}

					.list-item-content {
						margin-top: 16px;
					}
				}
			}
		}
	}

	&.box-col2 {
		.box-list {
			>li {
				width: calc(50% - 30px);
				flex: 0 0 calc(50% - 30px);
				margin: 15px;
			}
		}
	}

	&.box-col4 {
		.box-list {
			>li {
				width: calc(25% - 30px);
				flex: 0 0 calc(25% - 30px);
				margin: 15px;

				.list-item {
					.item-image {
						height: 158px;
					}
				}
			}
		}
	}

	&.box-round {
		.box-list {
			>li {
				border-radius: 10px;

				.list-item {
					padding: 24px 30px 19px;
					border-radius: 10px;

					.list-item-title {
						text-align: center;

						strong {
							font-size: 20px;
							line-height: 32px;

							&.text-mld {
								font-size: 18px;
								line-height: 30px;
							}
						}
					}

					.list-item-content {
						margin-top: 18px;
						text-align: left;

						.row-list {
							@include clearfix;

							>li {
								float: left;
								margin-right: 40px;

								+li {
									margin-top: 0;
								}

								&:last-child {
									margin-right: 0;
								}
							}
						}
					}

					.btn-area {
						margin: 25px 0 5px;
						text-align: center;
					}
				}
			}
		}
	}

	&.hover {
		.box-list {
			>li {
				&:hover {
					border: 1px solid $primary;
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		.box-list {
			margin: -7.5px;

			>li {
				width: calc(50% - 15px);
				flex: 0 0 calc(50% - 15px);
				margin: 7.5px;

				.list-item {
					padding: 20px 20px 8px;

					.item-image {
						margin-bottom: 20px;
					}

					.list-item-title {
						strong {
							font-family: $font-family-mobile;

							&.title3 {
								font-size: 24px;
							}

							&.text-mld {
								font-size: 18px;
							}
						}
					}

					.list-item-content {
						margin-top: 13px;

						p:only-child {
							margin-bottom: 10px;
						}

						.list.list1 {
							li {
								width: 100%;
							}
						}
					}

					@if ($lang !=ko) {
						padding-bottom: 15px;

						.item-image {
							margin-bottom: 16px;
						}

						.list-item-title {
							strong {
								&.title3 {
									font-size: 20px;
									line-height: 24.3px;
								}
							}

						}

						.list-item-content {
							margin-top: 9px;
						}
					}
				}
			}
		}

		&.box-col4 {
			.box-list {
				margin: -7.5px;

				>li {
					width: calc(50% - 15px);
					flex: 0 0 calc(50% - 15px);
					margin: 7.5px;
				}
			}
		}

		&.box-col2 {
			.box-list {
				margin: -7.5px;

				>li {
					width: calc(50% - 15px);
					margin: 7.5px;
				}
			}
		}

		&.box-round {
			.box-list {
				>li {
					.list-item {
						padding: 14px 20px 7px;

						.list-item-title {
							line-height: 1.5263;

							strong {
								&.title3 {
									font-size: 19px;
								}
							}
						}

						.list-item-content {
							margin-top: -1px;

							.row-list {
								>li {
									float: none;
									width: auto;
									margin-right: 0;
								}
							}

							p {
								word-break: keep-all;
							}
						}

						.btn-area {
							margin-top: 16px;
							padding-bottom: 13px;
						}
					}
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.box-list {
			margin: -7.5px;

			>li {
				width: calc(100% - 15px);
				flex: 1 1 calc(100% - 15px);
				margin: 7.5px;

				.list-item {
					.item-image {
						height: auto;
					}
				}
			}
		}

		&.box-col2 {
			.box-list {
				>li {
					width: calc(100% - 15px);
					flex: 1 1 calc(100% - 15px);
					margin: 7.5px;
				}
			}
		}

		&.box-col4 {
			.box-list {
				>li {
					width: calc(100% - 15px);
					flex: 1 1 calc(100% - 15px);
					margin: 7.5px;
				}
			}
		}
	}
}