// 인물 검색
.people-search-result {
	position: relative;
	@include clearfix;

	.people-slider {
		text-align: center;

		.item {
			display: inline-block;
		}
	}

	.slick-arrow {
		position: absolute;
		top: 115px;
		z-index: 200;
		width: 21px;
		height: 40px;
		background: url(#{$url-img-share}/common/ico-chevron-right-xl-gray@2x.png) no-repeat;
		background-size: cover;

		text-align: left;
		text-indent: -9999px;
		overflow: hidden;
	}

	.slick-prev {
		left: 0;
		transform: rotate(-180deg);
	}

	.slick-next {
		right: 0;
	}

	.slick-disabled {
		opacity: .3;
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 0;

		button {
			padding: 0 3.5px;
			vertical-align: top;
			font-size: 0;

			&:after {
				content: '';
				display: block;
				width: 11px;
				height: 11px;
				background-color: #c2c2c2;
				border-radius: 6px;
			}
		}

		.slick-active {
			button {
				&:after {
					width: 30px;
					background-color: $btn-primary;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		margin-top: -10px;

		.people-slider {
			padding: 0 35px;
		}

		.item {
			max-width: 200px;
			margin: 0 13px;
			outline: 0;

			&:hover,
			&:focus {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 200px;
					height: 200px;
					top: 0;
					right: 0;
					bottom: 0;
					left: 50%;
					margin-left: -100px;
					border-radius: 50%;
					border: 1px solid $primary;
					box-sizing: border-box;
				}
			}
		}

		.name {
			display: block;
			margin: 20px 0 13px;
			font-size: 24px;
			line-height: 1;
			font-weight: bold;
			font-family: $font-family-title;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.position {
				font-size: 18px;
				font-weight: normal;
			}
		}

		.part {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.slick-dots {
			margin-top: 22px;
		}
	}

	@include media-breakpoint-down(md) {
		margin-top: 30px;

		.item {
			margin-bottom: 25px;
			max-width: 200px;
		}

		.name {
			display: block;
			margin: 15px 0 10px;
			font-size: 18px;
			line-height: 1;
			font-weight: bold;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.position {
				font-size: 16px;
				font-weight: normal;
			}
		}

		.part {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0 15px;
		}

		.thumb-circle {
			width: 120px;
			height: 120px;
		}

		.slick-dots {
			margin-top: -3px;
			margin-bottom: 10px;
		}
	}
}

.search-dropdown-wrap {
	@include media-breakpoint-up(lg) {
		@include clearfix;
		margin-bottom: 30px;

		.dropdown-control {
			float: right;
			width: 360px;
		}

		.dropdown-list {
			max-height: 180px;
			padding-right: 13px;
		}
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 15px;

		.dropdown-list {
			max-height: 155px;
		}
	}
}

.all-doctor {
	.department-list {
		padding: 17px 18px;
		max-height: 158px;

		button {
			width: 100%;
			line-height: 26px;
			text-align: left;
			font-size: 16px;

			&.on {
				color: $bg-lightyellow;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.all-search-option {
			width: 390px;
			float: left;
			overflow: hidden;

			.division-select {
				margin-top: -2px;
				padding-bottom: 8px;
				text-align: center;
				font-family: $font-family-title;
				font-size: 18px;
			}

			.ordering-wrap {
				background-color: $bg-lightgray;
				border: 0;
			}

			.ordering-list {
				padding: 15px;

				li {
					margin: 5px 3.5px;
				}

				button {
					min-width: 36px;
					height: 36px;
					font-size: 16px;
					line-height: 34px;
				}

				.all {
					width: 77px;
				}
			}
		}

		.people-slider {
			width: calc(100% - 420px);
			padding: 0 50px;
			float: right;
		}
	}

	@include media-breakpoint-down(md) {
		.all-search-option {
			overflow: hidden;

		}

		.division-select {
			text-align: center;
			padding-bottom: 10px;
			border-bottom: 1px solid #e6e6e6;
		}

		.ordering-wrap {
			margin: 0 -3px;
		}

		.ordering-list {
			margin: auto;
			padding: 15px 0;
			border: 0;
			text-align: left;

			li {
				margin: 5px 3px;
			}

			button {
				min-width: 31px;
				height: 31px;
				font-size: 17px;
				line-height: 29px;
			}

			.all {
				min-width: 67px;
			}
		}

		.department {
			margin-bottom: 30px;
			padding: 17px 15px 17px 20px;
		}

		.department-list {
			padding: 0;
			max-height: 116px;

			// &::-webkit-scrollbar {
			// 	-webkit-appearance: none;
			// 	width: 7px;
			// 	margin-right: 2px;
			// }

			// &::-webkit-scrollbar-thumb {
			// 	border-radius: 4px;
			// 	background: rgba(#fff, .5);
			// }

			button {
				line-height: 24px;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.ordering-list {
			max-width: 296px;
		}
	}
}