/* 탭메뉴 */
.tab-menu {
	margin-bottom: 60px;
	overflow: hidden;

	@include media-breakpoint-down(md) {
		margin-bottom: 40px;
	}
}

.tab-list {
	text-align: center;
	line-height: 1.2;

	li {
		border: 1px solid transparent;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 55px;

			.ico {
				margin-top: -2px;
			}
		}
	}

	&:not(.slick-slider) {
		li {
			display: table-cell;
			width: 1%;
			vertical-align: middle;
		}
	}

	@include media-breakpoint-up(lg) {
		font-size: 18px;

		li {
			a {
				span {
					@include text-ellipsis(2, 20px);
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		$tab-height: 45px;
		font-size: 16px;

		li {
			flex-basis: 33.33333%;
			width: 33.33333%;
			min-width: 33.33333%;

			a {
				height: $tab-height;
				padding-left: 10px;
				padding-right: 10px;
			}

			span {
				@include text-ellipsis(2, 18px);
			}
		}
	}

	@include media-breakpoint-down(sm) {
		li {
			flex-basis: 50%;
			width: 50%;
			min-width: 50%;
		}
	}
}

.tab-menu-flicking {
	position: relative;
	padding-right: 73px;

	.tab-scroll-container {
		overflow: hidden;
	}

	.tab-list {
		@include clearfix;
		display: flex;
		transition-duration: .3s;

		li {
			display: block;
		}
	}

	.control {
		position: absolute;
		right: 0;
		top: 50%;
		height: 22px;
		padding: 0 5px;
		transform: translateY(-50%);

		.btn-tab-prev,
		.btn-tab-next {
			display: inline-block;
			vertical-align: top;
			width: 21px;
			margin: 0 5px;
			height: 21px;
			border-radius: 11px;
			background: #959595 url(#{$url-img-share}/common/ico-arrow-left-white@2x.png) no-repeat;
			background-size: 21px 21px;
			text-indent: -9999px;
			text-align: left;
			overflow: hidden;
		}

		.btn-tab-prev {
			right: -32px;
			background-position: right center;
		}

		.btn-tab-next {
			right: -63px;
			background-image: url(#{$url-img-share}/common/ico-arrow-right-white@2x.png);
			background-position: left center;
		}

		&.start {
			.btn-tab-prev {
				background-color: #dadada !important;
			}
		}

		&.end {
			.btn-tab-next {
				background-color: #dadada !important;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.tab-list {
			$li-width: 201px;

			li {
				flex-basis: $li-width;
				width: $li-width;
				min-width: $li-width;
				max-width: $li-width;
			}
		}

		.control {

			.btn-tab-prev,
			.btn-tab-next {

				// &:focus,
				&:hover {
					background-color: $primary;
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		padding-right: 58px;

		&.tab-category {
			padding-right: 54px;
		}

		.control {

			.btn-tab-prev,
			.btn-tab-next {
				margin: 0;

				&:active {
					background-color: $primary;
				}
			}

			.btn-tab-next {
				margin-left: 3px;
			}
		}
	}

}

.tab-content {
	display: none;
}

.tab-menu1,
.tab-menu2 {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid $border-light;
		background-color: $bg-lightgray;
	}

	li {
		position: relative;
	}
}

.tab-menu1 {

	li {
		a {
			padding-bottom: 2px;

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				right: -1px;
				bottom: -1px;
				left: -1px;
				border: 1px solid transparent;
				border-bottom: 3px solid transparent;
			}
		}

		&.on {
			a {
				position: relative;
				background-color: #fff;
				outline: 0;
				font-weight: bold;

				&:before {
					border-color: $border-light;
					border-bottom-color: $secondary;
				}
			}
		}
	}

	@if ($lang !=ko) {
		position: relative;
		text-align: center;
		color: #fff;

		&::before {
			background-color: #959595;
			border: none;
		}

		li {
			border: 0;
			background-color: #959595;

			&.on {
				background-color: $yellow;
				color: $default;

				a {
					background-color: $yellow;
					color: #333;

					&::before {
						border-color: $yellow;
					}
				}
			}
		}

		.control {
			.btn-tab-prev {
				background-color: $white;
				background-image: url(#{$url-img-share}/common/ico-arrow-left-gray@2x.png);

				&:hover {
					background-image: url(#{$url-img-share}/common/ico-arrow-left-white@2x.png);
				}
			}

			.btn-tab-next {
				background-color: $white;
				background-image: url(#{$url-img-share}/common/ico-arrow-right-gray@2x.png);

				&:hover {
					background-image: url(#{$url-img-share}/common/ico-arrow-right-white@2x.png);
				}
			}
		}


		@include media-breakpoint-down(md) {
			.control {
				.btn-tab-prev {
					background-image: url(#{$url-img-share}/common/ico-arrow-left-gray@2x.png) !important;

					&:active {
						background-image: url(#{$url-img-share}/common/ico-arrow-left-white@2x.png) !important;
					}
				}

				.btn-tab-next {
					background-image: url(#{$url-img-share}/common/ico-arrow-right-gray@2x.png) !important;

					&:active {
						background-image: url(#{$url-img-share}/common/ico-arrow-right-white@2x.png) !important;
					}
				}
			}
		}
	}
}

.tab-menu2 {

	li {
		&.on {
			position: relative;
			color: $primary;
			background-color: #fff;

			a {
				position: relative;
				font-weight: bold;

				&:before {
					content: '';
					position: absolute;
					top: -1px;
					right: -1px;
					bottom: -1px;
					left: -1px;
					border: 2px solid $primary;
				}
			}
		}
	}
}

.tab-menu3 {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 1px solid #e6e6e6;
	}

	.tab-list {
		border-left: 0;
		display: flex;
	}

	li {
		border: 0;

		a {
			height: 36px;

			span {
				height: 100%;
				white-space: nowrap;
			}

			br {
				display: none;
			}
		}

		&.on {
			font-weight: bold;

			a {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-bottom: 1px solid #666;
				}
			}
		}
	}

	.control {
		top: 0;
		transform: translateY(0);
	}

	@include media-breakpoint-up(lg) {
		.tab-list {
			li {
				display: block;
				flex-basis: 20%;
				width: 20%;
				min-width: 20%;
				max-width: 20%;
			}
		}
	}

	@include media-breakpoint-down(md) {
		li {
			span {
				padding: 0 10px;
			}

			a {
				height: 30px;
			}
		}
	}
}

.tab-menu-matrix {
	background-color: $bg-whiteblue;

	.tab-list {
		border-color: #fff;
		@include clearfix;
	}

	li {
		position: relative;
		display: block !important;
		float: left;
		width: 20% !important;
		border: 0;

		a {
			height: 55px;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -1px;
			height: 1px;
			background-color: #fff;
		}

		&:after {
			content: '';
			width: 1px;
			height: 500px;
			position: absolute;
			top: 0;
			right: -1px;
			background-color: #fff;
		}

		&.on {
			position: relative;
			font-weight: bold;

			// border: 1px solid red !important;
			a {
				color: $primary;

				span {
					position: relative;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 1px solid $primary;
					background-color: #fff;
				}

			}
		}
	}

	@include media-breakpoint-down(md) {
		li {
			width: 33.333%;

			a {
				height: 45px;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		li {
			width: 50%;
		}
	}
}

.tab-category {
	margin-bottom: 10px;

	li {
		a {
			border: 1px solid #ddd;
			background-color: $bg-lightgray;
		}

		&.on {
			position: relative;
			color: $default;

			a {
				position: relative;
				font-weight: bold;
				background-color: #fff;

				&:before {
					content: '';
					position: absolute;
					top: -1px;
					right: -1px;
					bottom: -1px;
					left: -1px;
					border: 2px solid $secondary;
				}
			}
		}
	}

	&.tab-category-matrix {
		.tab-list {
			@include clearfix;
			margin: -1px;
		}

		li {
			position: relative;
			display: block !important;
			float: left;
			width: calc(16.666666% - 2px);
			min-width: 0;
			border: 0;
			margin: 1px;

			a {
				height: 55px;
				padding: 0 10px;
			}
		}

		@include media-breakpoint-down(md) {
			li {
				width: calc(25% - 2px);

				a {
					height: 45px;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			li {
				width: calc(33.333333% - 2px);
			}
		}
	}

	&.tab-menu-flicking {
		.control {
			padding: 0;
			right: 0;

			.btn-tab-next {
				margin-right: 0;
			}
		}

		&.tab-category {
			+.tab-category {
				margin-top: 0;

				li {
					&.on {
						color: $primary;

						a {
							&:before {
								border-color: $primary;
							}
						}
					}
				}
			}
		}

		@include media-breakpoint-down(md) {
			$tab-height: 45px;
			font-size: 16px;
			margin-bottom: 5px;

			li {
				flex-basis: 33.33333%;
				width: 33.33333%;
				min-width: 33.33333%;

				a {
					height: $tab-height;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			li {
				span {
					padding: 0 10px;
				}
			}
		}
	}
}

.ordering-wrap {
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
}

.ordering-list {
	display: inline-flex;
	padding: 20px 0;
	flex-wrap: wrap;
	justify-content: center;
	@include clearfix;

	li {
		margin: 0 7.5px;
		float: left;

		button {
			min-width: 48px;
			height: 48px;
			border-radius: 50%;
			background: #fff;
			text-align: center;
			line-height: 46px;
			font-size: 18px;
			border: 1px solid #e6e6e6;
			box-sizing: border-box;
			font-family: $font-family-title;

			&.on {
				background: $btn-primary;
				color: #fff;
				border-color: transparent;
			}

			&:disabled {
				color: #c2c2c2;
				cursor: unset;
			}

			&.all {
				min-width: 90px;
				border-radius: 25px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		padding: 15px 0;
		margin: 0 -3.5px;

		li {
			margin: 5px 3.5px;

			button {
				min-width: 35px;
				height: 35px;
				line-height: 32px;
				font-size: 17px;

				&.all {
					min-width: 77px;
					border-radius: 20px;
				}
			}
		}
	}

}