/* default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	@include media-breakpoint-down(md) {
		outline: 0;
	}
}

html {
	height: 100%;

	@include media-breakpoint-down(md) {
		-webkit-text-size-adjust: none;
		overflow-y: auto;
	}
}

body {
	min-width: $min-width;
	font-size: 16px;
	color: $default;
	letter-spacing: $letter-spacing;
	line-height: 1.625;

	@include media-breakpoint-up(lg) {
		transform-origin: 50% 0%;
		word-break: keep-all;
		word-wrap: break-word;

		overflow-y: scroll;
		min-height: 100vh;
		font-family: $font-family-base;

		@if ($lang !=ko) {
			line-height: 1.5;
		}
	}

	@include media-breakpoint-down(md) {
		font-size: 17px;
		letter-spacing: $letter-spacing-mobile;
		overflow-y: auto;
		word-break: break-all;
		font-family: $font-family-mobile;

		@if ($lang==ko) {
			line-height: 1.470588;
		}

		@else {
			line-height: 1.294117;
		}
	}
}

header,
section,
article,
aside,
footer,
nav {
	display: block;
}

fieldset {
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
}

pre {
	white-space: pre-wrap;
}

img {
	max-width: 100%;
	border: 0;
}

ul,
li,
ol {
	list-style: none;
	// 엣지 리스트 버그 해결
	// list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

h1,
h2,
h3,
h4,
h5,
h6,
dd {
	margin: 0;
}

a,
select,
button,
input,
textarea {
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input[type=submit] {
	margin: 0;
	padding: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.sr-only {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	margin: 0 !important;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

caption.sr-only {
	position: static;
	width: auto;
	height: 0;
}