//
// Global variables
//

// 사이트 기본 설정

$site : default !default; // 복사 원본 사이트 디렉토리
$sitetype: hospital !default; // 병원군 hospital (공통 기준) / 대학군 yonsei / 의료원군 yuhs / 교수공간, 커뮤니티 community

// 경로
$url-img: "../img" !default;
$url-img-share: "../../_share/img" !default;
$url-img-sitetype: "../../_share/img/#{$sitetype}" !default;

$responsive: true !default;
$allmenu-desktop: true !default;
$footer-familysite: true !default;
$footer-shortcut-link: 2 !default;

// 색상
$default: #333 !default;
$white: #fff !default;

$primary: #0094fb !default;
$darkprimary: #0054d1 !default;
$secondary: #ffd553 !default;

$yellow: #ffd553 !default;
$orange: #f76117 !default;
$red: #ee001d !default;

$gray: #888 !default;
$lightgray: #ccc !default;
$darkgray: #666 !default;

$bg-gray: #e6e6e6 !default;
// $bg-darkgray: #f7f5f3 !default;
$bg-lightgray: #f9f9f9 !default;

$bg-lightprimary: #dcf2ff !default;
$bg-whiteblue: #eef7fc !default;
$bg-lightyellow: #fff5bf !default;

$border-base: #aaa !default;
$border-light: #ebebeb !default;
// $border-dark: #bfbfbf !default;

// 컴포넌트별 주요 컬러
$btn-primary: $primary !default;
$header-active-color: $darkprimary !default;
$breadcrumb-left-color: $darkprimary !default;
$breadcrumb-right-color: $secondary !default;

$colors: () !default;
$colors: map-merge(("default": $default,
		"white": $white,
		"primary": $primary,
		"darkprimary": $darkprimary,
		"secondary": $secondary,
		"warning": $orange,
		"orange": $orange,
		// "green": $green,
		// "violet": $violet,
		"red": $red,
		// "blue": $blue,
		"gray": $gray,
		"lightgray": $lightgray,
		"darkgray": $darkgray,
	),
	$colors);

$dark-bg-colors: () !default;
$dark-bg-colors: map-merge(("bg-default": $default,
		"bg-primary": $primary,
		"bg-darkprimary": $darkprimary,
		"bg-warning": $orange,
	),
	$dark-bg-colors);

$light-bg-colors: () !default;
$light-bg-colors: map-merge(("bg-secondary": $secondary,
		"bg-lightgray": $bg-lightgray,
		"bg-lightprimary": $bg-lightprimary,
		"bg-whiteblue": $bg-whiteblue,
		"bg-lightyellow": $bg-lightyellow,
		"bg-white": #fff,
	),
	$light-bg-colors);

// 글꼴
$font-family-base: -apple-system,
BlinkMacSystemFont,
"NanumGothic",
"malgungothic",
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

$font-family-title: // -apple-system,
// BlinkMacSystemFont,
'NanumSquare',
"malgungothic",
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

$font-family-mobile: -apple-system,
BlinkMacSystemFont,
"Noto Sans KR",
"Noto Sans CJK KR",
"NotoSansKR",
"malgungothic",
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

$font-family-mobile-apple: -apple-system,
// BlinkMacSystemFont,
"Noto Sans KR",
"Noto Sans CJK KR",
"NotoSansKR",
"malgungothic",
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

// $font-size-xs: 14px !default;
// $font-size-sm: 14px !default;
$font-size-base: 16px !default;
$font-size-lg: 24px !default;
$font-size-xl: 30px !default;
// $font-size-xxl: 40px !default;
// $font-size-xxxl: 50px !default;

// breakpoints
$grid-breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1025px,
	xl: 1200px) !default;

// 그리드
$min-width: 360px !default;
$max-width: 1280px !default;

// PC
$spacing: 20px !default;
$topbar-height: 76px !default;
$gnb-height: 69px !default;
$header-height: $topbar-height+$gnb-height !default;
$breadcrumb-height: 47px !default;
$footer-height: 214px !default;

// Mobile
$mobile-spacing: 15px !default;
$mobile-header-height: 60px !default;
$mobile-footer-height: 195px !default;

$mobile-allmenu-header: 157px !default;
$mobile-allmenu-footer: 50px !default;