/* 웹폰트 */

$url-fonts: "../../_share/fonts";

$font-weights1: (Regular: 400,
	Bold: 600,
);

$font-weights2: (Light: 300,
	Regular: 400,
	Bold: 600,
);


$font-weights3: (light: 300,
	regular: 400,
	// medium: 500,
	bold: 700,
);

@each $weight-name,
$weight-size in $font-weights1 {
	$font-family: "NanumGothic";
	$font-file-name: "NanumGothic";

	@font-face {
		font-family: $font-family;
		font-style: normal;
		font-weight: $weight-size;
		src: // url("#{$url-fonts}/#{$font-file-name}-#{$weight-name}.woff2") format("woff2"),
		url("#{$url-fonts}/#{$font-file-name}-#{$weight-name}.woff") format("woff");
	}
}

@each $weight-name,
$weight-size in $font-weights2 {
	$font-family: "NanumSquare";
	$font-file-name: "NanumSquare";

	@font-face {
		font-family: $font-family;
		font-style: normal;
		font-weight: $weight-size;
		src: // url("#{$url-fonts}/#{$font-file-name}-#{$weight-name}.woff2") format("woff2"),
		url("#{$url-fonts}/#{$font-file-name}-#{$weight-name}.woff") format("woff");
	}
}

// @each $weight-name,
// $weight-size in $font-weights3 {
// 	$font-family: "NotoSansKR";
// 	$font-file-name: "notokr";

// 	@font-face {
// 		font-family: $font-family;
// 		font-style: normal;
// 		font-weight: $weight-size;
// 		src: url("#{$url-fonts}/#{$font-file-name}-#{$weight-name}.woff2") format("woff2"),
// 		url("#{$url-fonts}/#{$font-file-name}-#{$weight-name}.woff") format("woff");
// 	}
// }